body {background-color: #02735E;}

#root {
    height: 97vh;
    display: flex;
    justify-items: center;
    font-weight: bold;
    font-family: sans-serif;
}

#drum-machine {
    margin: auto;
    background: #F2B035;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drum-pad {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.txt {
    margin: auto;
    font-size: 24px;
}

.drumpad-container {
    background: #3BBFA7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    flex: 2;
}

#display {
    flex: 1;
    background: #F27127;
    width: 40%;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
}